{#{% extends "VadimBlogBundle:Default:blog_layot.html.twig" %}#}
{#{% block page_content %}#}
{{ form_start(form) }}
 <div class="form-group">
    {{ form_widget(form.name) }}
</div>

{#<div>#}
    {{ form_widget(form.save) }}
{#</div>#}
{{ form_end(form) }}
{#<ul>#}
    {#{% for article in searchArticles %}#}
        {#<li>#}
            {#<a href="{{ path('_see', {'id': article.id}) }}">#}
                {#{{ article.title }}#}
            {#</a>#}
        {#</li>#}

    {#{% endfor %}#}
{#</ul>#}
{#{% block page_content %}#}