{% extends 'VadimGuestBundle::layout.html.twig' %}
{% block page_content %}
<div>
{{ form(form) }}
</div>

<div class ="posts">
    <div class="container posts-container">
 {% for post in posts %}

         <div class="panel panel-default">
         <div class="panel-heading">
             <div class="pull-left">
                 {{ post.name }} ({{ post.email }})
             </div>

            <div class="panel-body">
             {{ post.post }}
             </div>
         </div>
         <ul class="nav">
             <li class="active">
                 <a href="{{ path('vadim_guest_delete', {'id': post.id}) }}"> {{ 'delete' }}
                 </a>
             </li>
             <li> <a href="{{ path('vadim_guest_see', {'id': post.id}) }}"> {{ 'see' }}
                 </a></li>

         </ul>

     </div>



 {% endfor %}

{% endblock  page_content %}