{% extends 'VadimGuestBundle::layout.html.twig' %}

{% block page_content %}

<h1> {{ post.name }}</h1>
<br> {{ post.email }}
<br> {{ post.post }}

    <ul class="nav">
        <li class="active">
            <a href="{{ path('vadim_guest_index', { 'id':1 }) }}"> {{ 'home' }}
            </a>
        </li>

    </ul>
{% endblock  page_content %}