<ul class="nav nav-pills">
    <li><a href="{{ path('_about' )}}"> {{ 'About' }}
        </a></li>
    <li><a href="{{ path('_blog' )}}" > {{ 'Blog' }}</a></li>
    <li><a href="{{ path('vadim_guest_index',{ 'id':1 } )}}"> {{ 'GuestBook' }}</a></li>
</ul>
